
.homepage{
  display: flex;
  align-items: center;
  background-image: url("https://joelburton-jobly.surge.sh/static/media/background.6549e727ece768243a0f.png");
  background-size: cover;
  background-position: center;
  color: white;
  height: calc(100vh - 80px);
  justify-content:space-around;
  text-shadow: 2px 2px 5px #34302f;
}
.home-center{
  text-align: center;
  margin-top: -10%;
}

.companies, .companyDetails, .allJobs, .login, .signup, .profile{
  display: flex;
  flex-direction: column; /* Stack items vertically */
  background-image: url("https://joelburton-jobly.surge.sh/static/media/background.6549e727ece768243a0f.png");
  align-items: center;
  justify-content: center;
}
.login, .signup, .profile{
  display: flex;
  flex-direction: column; /* Stack items vertically */
  background-image: url("https://joelburton-jobly.surge.sh/static/media/background.6549e727ece768243a0f.png");
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.searchform{
  position: absolute;
  top: 100px; /* Adjust the top position as needed */
  width: 80%;
  max-width: 600px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}
.companyDetails2 {
  margin-top: -550px;
  color: white;
}
.companyDetails3 {
  margin-top: -480px;
  color: white;
}

.companiescards, .jobcards{
  top: 200px;
}
.cards {
  margin-bottom: 1rem;
}
.navbar{
  width:100%;
}

.nav-link{
  padding: 10px;
}
.inactive {
  color:darkgray;
  text-decoration: none;
}

.active {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.button{
  margin-left: 5px;
}

label{
  font-weight: 700;
}